.datetime {
    padding: 10px;
    width: 100%;
}

@media screen and (min-width: 769px) {
    .datetime {
        padding: 20px;
    }
}

@media screen and (min-width: 1225px) {
    .datetime {
        padding: 25px;
    }
}
