.description {
    width: 100%;
    padding: 10px;
}

@media screen and (min-width: 769px) {
    .description {
        padding: 20px;
    }
}

@media screen and (min-width: 1225px) {
    .description {
        padding: 25px;
    }
}
