.moodBtns {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 10px 3px;
}

@media screen and (min-width: 769px) {
    .moodBtns {
        padding: 20px 30px;
    }
}

@media screen and (min-width: 1225px) {
    .moodBtns {
        padding: 25px 50px;
    }
}
