.mood-journal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mood-journal-header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
